{% extends "data_sprocket/base.html" %}
{% load static %}
{% block title %}Data Sprocket{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'data_sprocket/css/skeleton.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'data_sprocket/css/normalize.css' %}">

<style>
table {
    width: 70%;
}

th {
    height: 30px;
    text-align: right;
}

td {
    text-align: right;
}

.overlay {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
}

.sparkline_tooltip { /* The newer version of Skeleton is shrinking the tooltip background boxes on the sparklines. */
    position: absolute; /* Solution: Override the tooltip CSS with CSS taken from this unaddressed pull request: */
    left: 0px; /* https://github.com/gwatts/jquery.sparkline/pull/207/files */
    top: 0px;
    visibility: hidden;
    background: rgb(0, 0, 0) transparent;
    background-color: rgba(0,0,0,0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    color: white;
    font: 10px arial, san serif;
    text-align: left;
    white-space: nowrap;
    padding: 5px;
    border: 1px solid white;
    box-sizing: content-box;
    z-index: 10000;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 0px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 24em;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -12em;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

span.formula {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    color: black;
}

div.formula {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    color: black;
    margin-left: 2em;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-block-start: 0em;
    margin-block-end: 0em;
}


</style>
{% endblock stylesheet %}

{% block javascript %}
<script src="{% static 'valet/js/fallback.min.js' %}"></script>
<script>
	// Here we actually invoke Fallback JS to retrieve the following libraries for the page.
	fallback.load({
		// Include your stylesheets, this can be an array of stylesheets or a string!
		//page_css: 'index.css',
		//global_css: ['public.css', 'members.css'],
		// Here goes a failover example. If the first fails, Fallback JS will load the second!
		jQuery: [
			'//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js',
			'//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js'
		],
        sparkline: '//cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js'
    }, {
            shim: {
                'sparkline': ['jQuery']
            }
	});

	fallback.ready(['jQuery'], function() {
		// jQuery Finished Loading
		// Execute my jQuery dependent code here!
        refresh_resource(); // This loads the sparklines
        // which are currently not generated initially by Django.
	});

	fallback.ready(function() {
		// All of my libraries have finished loading!
		// Execute my code that applies to all of my libraries here!
        $("#id_publisher").change(refresh_package_list);
        $("#id_package").change(refresh_package);
        $("#id_resource").change(refresh_resource);

        activate_overlay(false,"overlay_all");
        activate_overlay(false,"overlay_resource"); // It's currently necessary to turn
        activate_overlay(false,"overlay_datastore"); // these all off here. Otherwise,
        activate_overlay(false,"overlay_sparklines"); // we just get a bunch of white space.
	});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
<script type="text/javascript">
    function hide_results(bool) {
        document.getElementById('results').style.display=(bool?'none':'block');
    }

    function activate_overlay(bool,element_id) {
        document.getElementById(element_id).style.opacity=(bool?0.5:1.0);
    }

    function replace_selector_with_options(selector,options) {
        var $el = $(selector);
        $el.empty(); // remove old options
        $.each(options, function(key,value) {
          $el.append($("<option></option>")
               .attr("value", value).text(key));
               });
        return true;
    }

    function refresh_sparklines(datastore_exists,time_field,unit,span,overlay_id) {
        // If make_call is true, the datastore is assumed to be
        // active, and it's necessary to actually make the API
        // call to determine the datastore dimensions.
        // Otherwise, just display "None".
        activate_overlay(true,overlay_id); // [ ] Pass bar ID and remove if/else if statments.
        if (datastore_exists) {
            var chosen_resource_id = document.getElementsByName("resource")[0].value;
            $.ajax({
            url: 'ajax/get_sparklines/',
            data: {
              'datastore_exists': datastore_exists,
              'resource_id': chosen_resource_id,
              'time_field': time_field,
              'unit': unit,
              'span': span
            },
            dataType: 'json',
            success: function (data) {
                if (unit=='day') {
                    $('.bar30').sparkline(data.counts, { type: 'bar', tooltipClassname: 'sparkline_tooltip', chartRangeMin: 0 });
                } else if (unit=='month') {
                    $('.months_bar').sparkline(data.counts, { type: 'bar', barColor: 'green', barWidth: 10, tooltipClassname: 'sparkline_tooltip', chartRangeMin: 0 });
                }
                activate_overlay(false,overlay_id);
                }
            });
        }
        else {
            if (unit=='day') {
                $('.bar30').sparkline([], { type: 'bar', tooltipClassname: 'sparkline_tooltip', chartRangeMin: 0 });
            } else if (unit=='month') {
                $('.months_bar').sparkline([], { type: 'bar', barColor: 'green', barWidth: 10, tooltipClassname: 'sparkline_tooltip', chartRangeMin: 0 });
            }
            activate_overlay(false,overlay_id);
        }
    }

    function refresh_datastore(make_call) {
        // If make_call is true, the datastore is assumed to be
        // active, and it's necessary to actually make the API
        // call to determine the datastore dimensions.
        // Otherwise, just display "None".
        activate_overlay(true,"overlay_datastore");
        if (make_call) {
            var chosen_resource_id = document.getElementsByName("resource")[0].value;
            $.ajax({
            url: 'ajax/get_datastore/',
            data: {
              'resource_id': chosen_resource_id
            },
            dataType: 'json',
            success: function (data) {
                $("#datastore_dimensions").html(data.d);
                activate_overlay(false,"overlay_datastore");
                }
            });
        }
        else {
            $("#datastore_dimensions").html("None");
            activate_overlay(false,"overlay_datastore");
        }
    }

    function refresh_resource() {
        activate_overlay(true,"overlay_resource");
        var chosen_resource_id = document.getElementsByName("resource")[0].value;
        $.ajax({
        url: 'ajax/get_resource/',
        data: {
          'resource_id': chosen_resource_id
        },
        dataType: 'json',
        success: function (data) {
            $("#resource_name").html(data.resource.name);
            $("a.resource_url").prop("href", data.resource.ckan_resource_page_url);
            $("a.format_url").prop("href", data.resource.url);
            if(!data.resource.csv_download_link) {
                $("#download_as_csv").attr("disabled", true);
            }
            else {
                $("#download_as_csv").attr("disabled", false);
            }
            $('#download_as_csv_form').attr('action', data.resource.csv_download_link);

            $("#resource_format").html(data.resource.format);
            $("#resource_id").html(data.resource.id);
            $('input[name=map_resource_id]').val(data.resource.id);
            $("#resource_description").html(data.resource.description);
            $("#resource_last_modified").html(data.resource.last_modified);
            $("#resource_metadata").html(data.resource_metadata);
            $("#time_field").html(data.resource.time_field);
            activate_overlay(false,"overlay_resource");

            refresh_datastore(data.resource.datastore_active);
            refresh_sparklines(data.resource.datastore_active,data.resource.time_field,'day',30,'overlay_day_sparklines');
            refresh_sparklines(data.resource.datastore_active,data.resource.time_field,'month',12,'overlay_month_sparklines');
            }
        });
    }

    function refresh_package() {
        activate_overlay(true,"overlay_all");
        var chosen_package_id = document.getElementsByName("package")[0].value;
        $.ajax({
        url: 'ajax/get_package/',
        data: {
          'package_id': chosen_package_id
        },
        dataType: 'json',
        success: function (data) {
            $("#package_title").html(data.metadata.title);
            $("a.dataset_url").prop("href", data.metadata.dataset_url);
            $("#package_id").html(data.metadata.id);
            $("#frequency_publishing").html(data.metadata.frequency_publishing);
            $("#package_notes").html(data.metadata.notes);
            $("#resource_count").html(data.metadata.num_resources);
            $("#package_tags").html(data.metadata.plain_tags);
            $("#publisher").html(data.metadata.organization.title);
            $("#temporal_coverage").html(data.metadata.temporal_coverage);
            $("#selected_extras").html(data.metadata.selected_extras);
            $("#package_metadata").html(data.package_metadata);
            activate_overlay(false,"overlay_all");

            var selector_promise = new Promise(
                function (resolve,reject) {
                      // do a thing, possibly async, then…

                      //if (/* everything turned out fine */) {
                      if (replace_selector_with_options("#id_resource",data.new_resource_choices)) {
                        resolve("Stuff worked!");
                      }
                      else {
                        reject(Error("It broke"));
                      }
                }
            )

            selector_promise.then(function(value) {
                refresh_resource();
                })
                .catch( error =>  console.log(error) );

            }
        })
    }

    function refresh_package_list() {
        activate_overlay(true,"overlay_all");
        var chosen_publisher_id = document.getElementsByName("publisher")[0].value;
        $.ajax({
        url: 'ajax/get_package_list/',
        data: {
          'publisher_id': chosen_publisher_id
        },
        dataType: 'json',
        success: function (data) {
            replace_selector_with_options("#id_package",data.new_package_choices);
            replace_selector_with_options("#id_resource",data.new_resource_choices);
            // This is all refresh_package() stuff flattened out, to allow Python to
            // do one API call and fetch all the data on the backend (rather than
            // using multiple AJAX calls and multiple API calls - which would be
            // the DRYer option at present, but this approach could be made DRY
            // by simply factoring out of refresh_package a functions that does
            // all the jQuery DOM manipulation and passing it the "data" object.
            $("#package_title").html(data.metadata.title);
            $("a.dataset_url").prop("href", data.metadata.dataset_url);
            $("#package_id").html(data.metadata.id);
            $("#frequency_publishing").html(data.metadata.frequency_publishing);
            $("#package_notes").html(data.metadata.notes);
            $("#resource_count").html(data.metadata.num_resources);
            $("#package_tags").html(data.metadata.plain_tags);
            $("#publisher").html(data.metadata.organization.title);
            $("#temporal_coverage").html(data.metadata.temporal_coverage);
            $("#selected_extras").html(data.metadata.selected_extras);
            $("#package_metadata").html(data.package_metadata);

            // Below is the refresh_resource() stuff:
            // [ ] Refactor refresh_resource so that this is a separately callable function.
            $("#resource_name").html(data.resource.name);
            $("a.resource_url").prop("href", data.resource.ckan_resource_page_url);
            $("a.format_url").prop("href", data.resource.url);
            if(!data.resource.csv_download_link) {
                $("#download_as_csv").attr("disabled", true);
            }
            else {
                $("#download_as_csv").attr("disabled", false);
            }
            $('#download_as_csv_form').attr('action', data.resource.csv_download_link);
            $("#resource_format").html(data.resource.format);
            $("#resource_id").html(data.resource.id);
            $('input[name=map_resource_id]').val(data.resource.id);
            $("#resource_description").html(data.resource.description);
            $("#resource_last_modified").html(data.resource.last_modified);
            $("#resource_metadata").html(data.resource_metadata);
            $("#time_field").html(data.resource.time_field);
            $('#download_as_csv_form').attr('action', data.resource.csv_download_link);

            activate_overlay(false,"overlay_all");

            // Manage overlays for datastore + resource + sparklines sections.
            refresh_datastore(data.resource.datastore_active);
            refresh_sparklines(data.resource.datastore_active,data.resource.time_field,'day',30,'overlay_day_sparklines');
            refresh_sparklines(data.resource.datastore_active,data.resource.time_field,'month',12,'overlay_month_sparklines');

            }
        })
    }
    function regenerate_output() {
        var zone = $("#id_zone").val();

        activate_overlay(true,"overlay_all");
        $.ajax({
            url: 'ajax/get_results/',
        data: {
            'zone': zone,
        },
        dataType: 'json',
        success: function (data) {
            activate_overlay(false,"overlay_all");
            if (data.valid_date_range) {
                // update chart
                myChart.data.labels = data.chart_ranges;
                myChart.config.data.datasets[0].data = data.transactions_chart_data;
                myChart.config.data.datasets[1].data = data.payments_chart_data;
                myChart.update();
                }
            }
        });
    }

</script>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {% autoescape off %}{{ chart_ranges }}{% endautoescape %},
        datasets: [{
            label: 'Transactions',
            data: {{ transactions_chart_data }},
            yAxisID: 'y-axis-1',
            backgroundColor:
                'rgba(54, 162, 235, 0.8)',
            borderColor:
                'rgba(54, 162, 235, 1)',
            borderWidth: 1
        },
        {
            label: 'Payments',
            data: {{ payments_chart_data }},
            yAxisID: 'y-axis-2',
            backgroundColor:
                'rgba(235, 162, 54, 0.8)',
            borderColor:
                'rgba(235, 162, 54, 1)',
            borderWidth: 1
        }]
    },
    options: {
        tooltips: {
            mode: 'index',
            intersect: false,
            callbacks: {
                label: function (t, d) {
                    if (t.datasetIndex === 0) {
                        return t.yLabel;
                    } else if (t.datasetIndex === 1) {
                        return '$' + t.yLabel.toFixed(2);
                    }
                }
            }
        },
        responsive: true,
        animation: {
            duration: 0
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                display: true,
                position: 'left',
                id: 'y-axis-1',
            },
            {
                ticks: {
                    beginAtZero:true,
                    // Include a dollar sign in the ticks
                    callback: function(value, index, values) {
                        return '$' + value.toFixed(0);
                    }
                },
                display: true,
                position: 'right',
                id: 'y-axis-2',
                gridLines: {
                    drawOnChartArea: false
                }
            }
            ]
        }
    }
});
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="nine columns">
            <b style="font-size: 200%;font-family: Optima, Gill Sans">Data Sprocket</b>
        </div>
        <div class="three columns">
            <div>
                <div style="margin-top:2rem">
                    <a href="https://www.wprdc.org"><img src="{% static 'valet/img/black_wprdc_logo.svg' %}" alt="[WPRDC]" height="80rem" width="auto" max-width="300px"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="column-rule-style: dashed;">
         <div class="twelve columns">
             <form method="post">
                {% csrf_token %}

                {{ form.non_field_errors }}
                <div class="fieldWrapper">
                    <div class="six columns">
                        <span>
                            {{ dataset_form.publisher.errors }}
                            <b>Publisher:</b> {{ dataset_form.publisher }}<br>
                            {{ dataset_form.package.errors }}
                            <b>Package:</b> {{ dataset_form.package }}<br>
                           {{ dataset_form.resource.errors }}
                            <b>Resource:</b> {{ dataset_form.resource }}
                        </span>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <P>
    <div id="results">
        <div id="overlay_all" class="overlay">
            <div class="row">
                <div class="six columns">
                    <u><b style="font-size: 110%">Parameters for selected dataset</b></u><br>
                    <b>title:</b> <a href="{{ metadata.dataset_url }}" class="dataset_url"><span id="package_title">{{ metadata.title }}</span></a><br>
                    <b>package ID:</b> <span id="package_id">{{ metadata.id }}</span><br>
                    <b>publication frequency:</b> <span id="frequency_publishing">{{ metadata.frequency_publishing }}</span><br>
                    <b>number of resources:</b> <span id="resource_count">{{ metadata.num_resources }}</span><br>
                    <b>tags:</b> <span id="package_tags">{{ metadata.plain_tags }}</span><br>
                    <b>publisher:</b> <span id="publisher">{{ metadata.organization.title }}</span><br>
                    <b>temporal coverage:</b> <span id="temporal_coverage">{{ metadata.temporal_coverage }}</span><br>
                    <b>selected extras:</b> <span id="selected_extras">{{ metadata.selected_extras }}</span><br>
                    <details><summary>Full package metadata</summary><span id="package_metadata"><pre>{{ metadata | pprint }}</pre></span></details>
                </div>
                <div class="six columns">
                    <div class="container">
                        <div id="overlay_resource" class="overlay">
                            <div class="row">
                                <div id="resource_div">
                                    <u><b style="font-size: 110%">Selected resource</b></u> <br>
                                    <b>resource page:</b> <a href="{{ resource.url }}" class="resource_url"><span id="resource_name">{{ resource.name }}</span></a><br>
                                    <b>resource ID:</b> <span id="resource_id">{{ resource.id }}</span><br>
                                    <b>data link (format):</b>
                                        <span class="tooltip">
                                            <a href="{{ resource.url }}" class="format_url"><span id="resource_format">{% if resource.format == ''%}None{% else %}{{ resource.format }}{% endif %}</span>
                                                <span class="tooltiptext">Download the data from CKAN or visit the external link by clicking this link</span></a>
                                        </span>
                                        <br>
                                    <b>last modified:</b> <span id="resource_last_modified">{{ resource.last_modified }}</span><br>
                                    <!--b>description:</b> <span id="resource_description">{{ resource.description }}</span><br-->
                                    <b>time field:</b> <code><span id="time_field">{% if resource.time_field %}{{ resource.time_field }}{% endif %}</span></code><br>
                                    <details><summary>Full resource metadata</summary><span id="resource_metadata"><pre>{{ resource | pprint }}</pre></span></details>
                                    <div id="download_options">
                                        <form method="get" id="download_as_csv_form" action="{{ resource.csv_download_link }}">
                                            <input type="submit" id="download_as_csv" value="Download as CSV">
                                        </form>
                                    </div>
                                </div> <!-- end resource_div -->
                            </div> <!-- end row div -->
                            <div class="row">
                                <div id="datastore_div">
                                    <span id="overlay_datastore" class="overlay">
                                        <u><b style="font-size: 110%">Datastore</b></u><P>
                                        <b>dimensions:</b> <span id="datastore_dimensions">{% if resource.datastore_active %}{{ datastore.dimensions | safe }}{% else %}None{% endif %}</span><br>
                                    </span>
                                    <span id="overlay_day_sparklines" class="overlay">
                                            <b>records for the last 30 days:</b> <span class="bar30" id="sparkline_30days"></span><br>
                                    </span>
                                    <span id="overlay_month_sparklines" class="overlay">
                                            <b>records for the last 12 months:</b> <span class="months_bar" id="sparkline_12months"></span><br>
                                    </span>
                                    <form method="get" id="map_it_form" action="map">
                                        <input type="submit" id="map_the_data" value="Map the data">
                                        <input type="hidden" name="map_resource_id" id="resource_id" value="{{ resource.id }}">
                                    </form>
                                </div>
                            </div>
                        </div> <!-- end overlay_resource div -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function download(filename) {
        var element = document.createElement('a');
        element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
        element.setAttribute('download', filename);

        element.style.display = 'none';
        document.body.appendChild(element);

        element.click();

        document.body.removeChild(element);
    }
</script>
{% endblock content %}
{% block footer %}
{% endblock footer %}
